{% extends 'base.html' %}

{% block title %}Liste des Amis{% endblock %}

{% block content %}
<ul>
{% for friend in friend_list %}
    <li>{{ friend.date|date }} {{ friend. }}</li>
{% empty %}
    <li>Pas d'amis</li>
{% endfor %}
</ul>

<!-- TODO: infinite-scroll.com -->
{% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}

<span class="current">
    {{ page_obj.number }}
</span>

{% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% endif %}
{% endblock %}